@model Online_Sınav_Sistemi.SınavaSoruEkleme

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SınavaSoruEkleme</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sınav.SınavAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sınav.SınavAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soru.Soru1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soru.Soru1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SınavaSoruEklemeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
