@model IEnumerable<Online_Sınav_Sistemi.Models.SınavaSoruEkleme>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sınav.SınavAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soru.Soru1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sınav.SınavAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soru.Soru1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SınavaSoruEklemeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SınavaSoruEklemeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SınavaSoruEklemeID })
        </td>
    </tr>
}

</table>
