
    @{
        ViewBag.Title = "Profil";
        Layout = "~/Views/Shared/_Layout.cshtml";
     }
    @{

        //var uyeid = Session["UyeID"];
        //int uyeID = Convert.ToInt32(uyeid);
        System.Data.SqlClient.SqlDataReader dr;
        System.Data.SqlClient.SqlConnection baglanti = new System.Data.SqlClient.SqlConnection(@"server=DESKTOP-TOA0HSB\SQLEXPRESS;database=OnlineSınav;Trusted_Connection=yes");
        baglanti.Open();
        //System.Data.SqlClient.SqlCommand cmd = new System.Data.SqlClient.SqlCommand("Select * from soru where SoruID in(select SoruID from SınavaSoruEkleme where SınavID in (select SınavID from Sınav where SınavID=" + Session["UyeID"] + "))", baglanti);
        System.Data.SqlClient.SqlCommand cmd = new System.Data.SqlClient.SqlCommand("Select * from Sınav where SınavID in (select SınavID from DersYetki where UyeID="+Model.UyeID+")", baglanti);
        cmd.Connection = baglanti;
        dr = cmd.ExecuteReader();
        System.Collections.ArrayList SınavAdi = new System.Collections.ArrayList();
        System.Collections.ArrayList sınavBaslangıcTarihi = new System.Collections.ArrayList();
        int sınavAdedi = 0;
        while (dr.Read())
        {
            SınavAdi.Add(dr["SınavAdi"]);
            sınavBaslangıcTarihi.Add(dr["BaslangicTarihi"]);
            sınavAdedi++;
        }
        dr.Close();
        baglanti.Close();

        baglanti = new System.Data.SqlClient.SqlConnection(@"server=DESKTOP-TOA0HSB\SQLEXPRESS;database=OnlineSınav;Trusted_Connection=yes");
        baglanti.Open();
        cmd = new System.Data.SqlClient.SqlCommand("Select DersAdi from Ders where DersID in (select DersID from UyeDersYetki where UyeID=" + Model.UyeID + ")", baglanti);
        cmd.Connection = baglanti;
        dr = cmd.ExecuteReader();
        System.Collections.ArrayList DersAdi = new System.Collections.ArrayList();
        int dersAdedi = 0;
        while (dr.Read())
        {
            DersAdi.Add(dr["DersAdi"]);
            dersAdedi++;
        }
        dr.Close();
        baglanti.Close();
        
        baglanti = new System.Data.SqlClient.SqlConnection(@"server=DESKTOP-TOA0HSB\SQLEXPRESS;database=OnlineSınav;Trusted_Connection=yes");
        baglanti.Open();
        //System.Data.SqlClient.SqlCommand cmd = new System.Data.SqlClient.SqlCommand("Select * from soru where SoruID in(select SoruID from SınavaSoruEkleme where SınavID in (select SınavID from Sınav where SınavID=" + Session["UyeID"] + "))", baglanti);
        cmd = new System.Data.SqlClient.SqlCommand("Select Fotograf from Uye where UyeID=" + Model.UyeID + "", baglanti);
        cmd.Connection = baglanti;
        dr = cmd.ExecuteReader();
        System.Collections.ArrayList UyePhoto = new System.Collections.ArrayList();
        while (dr.Read())
        {
            UyePhoto.Add(dr["Fotograf"]);
        }
        dr.Close();
        baglanti.Close();
        baglanti = new System.Data.SqlClient.SqlConnection(@"server=DESKTOP-TOA0HSB\SQLEXPRESS;database=OnlineSınav;Trusted_Connection=yes");
        cmd = new System.Data.SqlClient.SqlCommand("Select count(*) from Cevap where UyeID=" + Model.UyeID + " and DogruCevapMı=" + 1 + "", baglanti);
        baglanti.Open();
        int dogruCevapSayısı = Convert.ToInt32(cmd.ExecuteScalar());
        int x = 10*Convert.ToInt32(cmd.ExecuteScalar());
        baglanti.Close();
    }
    <section class="content-header">
        <h1>
            Kullanıcı Profili 
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        @{
                            if (Model.Fotograf != null) //Databaseden Resim Çekme kısmı
                            {
                                var base64 = Convert.ToBase64String(Model.Fotograf);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                               <img class="profile-user-img img-responsive img-circle" src='@imgSrc' alt="User profile picture">
                            }
                            else
                            { <img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">}
                        }
                        
                    

                        <h3 class="profile-username text-center">@Model.Ad @Model.Soyad</h3>
                        <p class="text-muted text-center">@Model.Email</p>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Alınan Dersler </b> <a class="pull-right">@dersAdedi</a>
                            </li>
                            <li class="list-group-item">
                                <b>Girilen Sınavlar</b> <a class="pull-right">@sınavAdedi</a>
                            </li>
                            @*<li class="list-group-item">
                                <b>Following</b> <a class="pull-right">@x</a>
                            </li>*@
                        </ul>
                        <a href="~/Home/Sınavlar" class="btn btn-primary btn-block"><b>Sınavlara Git </b></a>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- About Me Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Hakkında</h3>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body">
                        <strong><i class="fa fa-book margin-r-5"></i> Alınan Dersler</strong>
                        <p class="text-muted">
                            @for (int i = 0; i < dersAdedi; i++)
                            {
                            <span class="label label-info">@DersAdi[i]</span>
                            }
                        </p>
                        <hr>
                        <strong><i class="fa fa-pencil margin-r-5"></i> Sınavlar</strong>
                        <p>
                            @for (int i = 0; i < sınavAdedi; i++)
                            {
                                <span class="label label-success">@SınavAdi[i]</span>
                            }
                            @*<span class="label label-danger">UI Design</span>
                                <span class="label label-success">Coding</span>
                                <span class="label label-info">Javascript</span>
                                <span class="label label-warning">PHP</span>
                                <span class="label label-primary">Node.js</span>*@
                        </p>
                        <hr>
                        @*<strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>*@
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        @*<li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>*@
                        <li><a href="#timeline" data-toggle="tab">Timeline</a></li>
                        @{
                            if (Convert.ToInt32(Session["UyeID"]) == Model.UyeID)
                            {
                                <li><a href="#settings" data-toggle="tab">Ayarlar</a></li>
                            }
                        }
                       
                    </ul>
                    <div class="tab-content">
                      
                       
                        <div class="active tab-pane" id="timeline">
                            <!-- The timeline -->
                            <ul class="timeline timeline-inverse">
                                <!-- timeline time label -->
                                @*<li class="time-label">
                                    <span class="bg-red">
                                        10 Feb. 2014
                                    </span>
                                </li>*@
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                @*<li>
                                    <i class="fa fa-envelope bg-blue"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
                                        <div class="timeline-body">
                                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                            quora plaxo ideeli hulu weebly balihoo...
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-primary btn-xs">Read more</a>
                                            <a class="btn btn-danger btn-xs">Delete</a>
                                        </div>
                                    </div>
                                </li>*@
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                @for (int i = 0; i < sınavAdedi; i++)
                                {
                                    DateTime baslangıcTarihi = Convert.ToDateTime(sınavBaslangıcTarihi[i]);
                                <li>
                                    <i class="fa fa-user bg-aqua"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> @baslangıcTarihi tarhinde yayımlandı.</span>
                                        <h3 class="timeline-header no-border">
                                            <a href="">@SınavAdi[i]</a>
                                        </h3>
                                    </div>
                                </li>
                                }
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                @*<li>
                                    <i class="fa fa-comments bg-yellow"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                                        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                                        <div class="timeline-body">
                                            Take me to your leader!
                                            Switzerland is small and neutral!
                                            We are more like Germany, ambitious and misunderstood!
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                        </div>
                                    </div>
                                </li>*@
                                <!-- END timeline item -->
                                <!-- timeline time label -->
                                @*<li class="time-label">
                                    <span class="bg-green">
                                        3 Jan. 2014
                                    </span>
                                </li>*@
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                @*<li>
                                    <i class="fa fa-camera bg-purple"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                                        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
                                        <div class="timeline-body">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        </div>
                                    </div>
                                </li>*@
                                <!-- END timeline item -->
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- /.tab-pane -->
                        
                        <div class="tab-pane" id="settings">
                            
                                @using (Html.BeginForm("YeniResim", "Uye", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {<form class="form-horizontal">
                                   
                  @* @Html.LabelFor(model => model.Ad, " Ad: ", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Ad)
                        @Html.ValidationMessageFor(model => model.Ad)
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                    </div>
                </div>
                <div class="form-group">
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "", @placeholder = "E-Posta" } })
                            <i class="ace-icon fa fa-envelope"></i>
                        </span>
                    </label>
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>*@

                                    <div class="form-group">
                                        <label for="inputResim" class="col-sm-2 control-label">Resim: </label>
                                        <div class="editor-field">
                                            <input id="ImageUpload" type="file" name="ImageUpload" />
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Experience</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSkills" class="col-sm-2 control-label">Skills</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                            </label>
                        </div>
                    </div>
                </div>*@
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-danger">Ekle</button>
                                        </div>
                                    </div>
                                  
                                </form>
                                }
                    
                        </div>
                      
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-user bg-yellow"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                <p>New phone +1(800)555-1234</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                <p>nora@example.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                <p>Execution time 5 seconds</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->
                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Update Resume
                                <span class="label label-success pull-right">95%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Laravel Integration
                                <span class="label label-warning pull-right">50%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Back End Framework
                                <span class="label label-primary pull-right">68%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->
            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Allow mail redirect
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Other sets of options are available
                        </p>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Expose author name in posts
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Allow the user to show his name in blog posts
                        </p>
                    </div>
                    <!-- /.form-group -->
                    <h3 class="control-sidebar-heading">Chat Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Show me as online
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Turn off notifications
                            <input type="checkbox" class="pull-right">
                        </label>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Delete chat history
                            <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                        </label>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    @*<!-- ./wrapper -->
        <!-- jQuery 3 -->
        <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="../../bower_components/fastclick/lib/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="../../dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="../../dist/js/demo.js"></script>*@
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <!-- FastClick -->
    <script src="~/Scripts/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/demo.js"></script>

