@model Online_Sınav_Sistemi.Models.Soru

@*@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}*@
@{
    Layout = null;
}

<div>
 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Puan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoruResmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoruResmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoruAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoruAdı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogruCevapID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogruCevapID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Konu.KonuAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Konu.KonuAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sınav.SınavAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sınav.SınavAdi)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SoruID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
