@model Online_Sınav_Sistemi.Models.Secenek

@*@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}*@
@{
    Layout = null;
}

<div>
  
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SecenekAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecenekAdı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecenekResmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecenekResmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soru.SoruAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soru.SoruAdı)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SecenekID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
